.footer {
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        width: 100px;
        margin: 0 auto 10px;
    }

    &__links {
        margin-bottom: 16px;

        &__item {
            a {
                text-decoration: none;
                padding: 8px 16px;
            }
        }
    }
}