.hero {
    padding: 5.6vw;
    min-height: 110vh;
    background-image: url(../images/Chosen.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    &__content {
        max-width: 460px;

        &__branding {
            max-width: 10px;
            margin: 0 auto;

            img {
                display: flex;
                justify-self: center;
                width: 550px;
                margin-bottom: 38px;   
            }
        }

        .title {
            margin-bottom: 40px;
        }

        text {
            color: #545151;
        }
    }
}